<script>
    import { getrighttailpvalue, getchisquare } from '../routes/_real-trial-helper'

    let significanceLimit = "0.05";
    

    let control_good = 100;
    let control_bad = 100;
    let test_good = 100;
    let test_bad = 100;

    $: result = {
        control: {
            good: control_good,
            bad: control_bad
        },
        test: {
            good: test_good,
            bad: test_bad
        }
    }

    $: chisquare = getchisquare(result)
    $: pvaluert = getrighttailpvalue(result)
    
    $: chisquarewithyates = getchisquare(result, {yatesCorrection: true})
    $: pavluertwithyates = getrighttailpvalue(result, {yatesCorrection: true})


    $: significant = pvaluert < significanceLimit


</script>


<style>
    table {
        border-collapse: collapse;
    }
	td, th {
        border: 1px solid black;
    }

    .significant {
        background-color: yellow;
    }
</style>


<svelte:head>
	<title>P Value calculator</title>
</svelte:head>

<h1>p-value</h1>


p-value &lt; <select bind:value={significanceLimit}><option value="0.1">0.1</option><option value="0.05">0.05</option><option value="0.01">0.01</option></select> is highlighted)

<table>
    <thead>
        <tr>
            <th scope="col">Group</th>
            <th scope="col">Good outcome</th>
            <th scope="col">Bad outcome</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Control</th>
            <td><input type="number" bind:value={control_good}></td>
            <td><input type="number" bind:value={control_bad}></td>
            <td>{control_good + control_bad}</td>
        </tr>
        <tr>
            <th scope="row">Trial</th>
            <td><input type="number" bind:value={test_good}></td>
            <td><input type="number" bind:value={test_bad}></td>
            <td>{test_good + test_bad}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th scope="row">Total</th>
            <td>{control_good + test_good}</td>
            <td>{control_bad + test_bad}</td>
            <td>{control_good + control_bad + test_good + test_bad}</td>
        </tr>
    </tfoot>
</table>
<p>
𝛘² = {chisquare},
<span class:significant>p-value (right-tailed) = {pvaluert}</span><br/>
Probability that a 𝛘² statistic having 1 degree of freedom is more extreme than {chisquare} is {pvaluert} 
</p>
<p>
Applying Yates's correction, 𝛘² = {chisquarewithyates},
<span class:significant>p-value (right-tailed) = {pavluertwithyates}</span><br/>
Probability that a 𝛘² statistic having 1 degree of freedom is more extreme than {chisquarewithyates} is {pavluertwithyates} 
</p>