<script>
    import { onMount } from 'svelte'
    import { goto, stores } from '@sapper/app'
    import { getrandom, generateuniverse, getchisquare, getrighttailpvalue, round} from './_real-trial-helper'
    const { page } = stores()

    import TrialResult from '../components/TrialResult.svelte'

    let testgood = $page.query.testgood || 700;
    let testbad = $page.query.testbad || 300;
    $: test = testgood + testbad;

    let controlgood = $page.query.controlgood || 800;
    let controlbad = $page.query.controlbad || 200;
    $: control = controlgood + controlbad;

    $: result = {
        test: {
            good: testgood,
            bad: testbad
        },
        control: {
            good: controlgood,
            bad: controlbad
        }
    }
    $: chisquare = round(getchisquare(result))
    $: pvaluert = round(getrighttailpvalue(result))
    
    $: chisquarewithyates = round(getchisquare(result, {yatesCorrection: true}))
    $: pavluertwithyates = round(getrighttailpvalue(result, {yatesCorrection: true}))

    $: universe = generateuniverse({controlgood, controlbad, testgood, testbad});

    let experiments = $page.query.experiments || 100;
    let samplecontrol = $page.query.samplecontrol || 25;
    let sampletest = $page.query.sampletest || 25;
    $: samplesize = samplecontrol + sampletest;

    $: if (samplecontrol > control) {
        console.log(`Good idea. But you have no idea what ${samplecontrol} people's outcome will be because even in the larger universe you only know about ${control} people`)
        samplecontrol = control
    }

    $: if (sampletest > test) {
        console.log(`Good idea. But you have no idea what ${sampletest} people's outcome will be because even in the larger universe you only know about ${test} people`)
        sampletest = test
    }

    $: randomresults = getrandom({
        universe,
        samplecontrol,
        sampletest,
        experiments
    })

    onMount(async() => {
        goto('/real-trial', {replaceState: true});
    })
    
    let significanceLimit = "0.05";
</script>

<style>
    li + li {
        margin-top: 1rem;
    }
    #mainresult {
        border: 1px solid black;
    }
    .significant {
        background-color: yellow;
    }
</style>

<svelte:head>
	<title>Real Trial</title>
</svelte:head>

<h1>Real Trial</h1>

<p>
Imagine you did a randomized control trial on your entire sampling frame of {test + control}. Imagine you got these results.
</p>
<p>
Out of {test} people in the test arm (active/trial intervention) <br/><input type="number" bind:value={testgood} size="5"> had good outcome and <br/><input type="number" bind:value={testbad} size="5"> had bad outcome.
</p>
<p>
Out of {control} people in the control arm (given standard care) <br/><input type="number" bind:value={controlgood} size="5"> had good outcome and <br/><input type="number" bind:value={controlbad} size="5"> had bad outcome.
</p>
<p>
Say you chose p-value &lt; <select bind:value={significanceLimit}><option value="0.1">0.1</option><option value="0.05">0.05</option><option value="0.01">0.01</option></select> as signficant. This is the statistic you would have obtained.
</p>
<div id="mainresult">
<p>
𝛘² = {chisquare},
<span class:significant={pvaluert < significanceLimit}>p-value (right-tailed) = {pvaluert}</span><br/>
Probability that a 𝛘² statistic having 1 degree of freedom is more extreme than {chisquare} is {pvaluert} 
</p>
<p>
Applying Yates's correction, 𝛘² = {chisquarewithyates},
<span class:significant={pavluertwithyates < significanceLimit }>p-value (right-tailed) = {pavluertwithyates}</span><br/>
Probability that a 𝛘² statistic having 1 degree of freedom is more extreme than {chisquarewithyates} is {pavluertwithyates} 
</p>
</div>

<p>Now, suppose you do <input type="number" bind:value={experiments} size="5"> experiments of sample size {samplesize}, picking <input type="number" bind:value={sampletest} size="5"> in the trial arm (active intervention) and <input type="number" bind:value={samplecontrol} size="5"> in the control arm (standard treatment). The tables below are generated by randomly selecting from the sample frame above and running the experiment.</p>
<ol>
{#each randomresults as result (result)}
    <li>
       <TrialResult result={result} significanceLimit={significanceLimit}/>
    </li>
{/each}
</ol>
<p>Make whatever you want out of it.</p>
<p><a href="https://gitlab.com/primaryhealthcare/tools">Source Code</a></p>
<p>Resources:</p>
<ul>
    <li><a href="https://www.bmj.com/about-bmj/resources-readers/publications/statistics-square-one/">Statistics at Square One</a> - old and supposed to be not corrected for errors.
    </li>
</ul>