<script>
    import { getrighttailpvalue, getchisquare, round } from '../routes/_real-trial-helper'

    export let result
    export let significanceLimit;
    $: chisquare = round(getchisquare(result))
    $: pvaluert = round(getrighttailpvalue(result))
    
    $: chisquarewithyates = round(getchisquare(result, {yatesCorrection: true}))
    $: pavluertwithyates = round(getrighttailpvalue(result, {yatesCorrection: true}))

</script>

<style>
    table {
        border-collapse: collapse;
    }
	td, th {
        border: 1px solid black;
    }

    .significant {
        background-color: yellow;
    }
</style>

<table>
    <thead>
        <tr>
            <th scope="col">Group</th>
            <th scope="col">Good outcome</th>
            <th scope="col">Bad outcome</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Trial</th>
            <td>{result.test.good}</td>
            <td>{result.test.bad}</td>
            <td>{result.test.good + result.test.bad}</td>
        </tr>
        <tr>
            <th scope="row">Control</th>
            <td>{result.control.good}</td>
            <td>{result.control.bad}</td>
            <td>{result.control.good + result.control.bad}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th scope="row">Total</th>
            <td>{result.control.good + result.test.good}</td>
            <td>{result.control.bad + result.test.bad}</td>
            <td>{result.control.good + result.control.bad + result.test.good + result.test.bad}</td>
        </tr>
    </tfoot>
</table>
<p>
𝛘² = {chisquare},
<span class:significant={pvaluert < significanceLimit}>p-value (right-tailed) = {pvaluert}</span><br/>
<!-- Probability that a 𝛘² statistic having 1 degree of freedom is more extreme than {chisquare} is {pvaluert}  -->
</p>
<p>
Applying Yates's correction, 𝛘² = {chisquarewithyates},
<span class:significant={pavluertwithyates < significanceLimit}>p-value (right-tailed) = {pavluertwithyates}</span><br/>
<!-- Probability that a 𝛘² statistic having 1 degree of freedom is more extreme than {chisquarewithyates} is {pavluertwithyates}  -->
</p>
<hr />